/*welcome*/
.welcome{
    width: 100%;
    height:34.5%;
    background: #fff;
    text-align: center;
    float: left;
    background: url("../images/indexbg.png") no-repeat;
    background-size: 100% 100%;
}
.welcome h3{
    font-size:22px;
    color:#000 ;
    margin-bottom: 10px;
    /*background: url("./images/line.png") no-repeat 22% center;*/
    background-image: url("../images/line.png") , url("../images/line.png");
    background-position:22% center,78% center ;
    background-repeat: no-repeat;
    background-size: 33px 2px;
}

.logo{
    width: 22.5%;
    margin: 14.6% auto 8%;
}
.tip_txt{
    font-size: 0.12em;
    color: #898989;
}
.font{
    color: #898989;
    font-size: 0.13em;
    line-height: 0.2em;

}
/*welcome end*/
/* scan_pay */
.scan_pay{
    clear: left;
    width: 100%;
    height:0.96em ;
    background: #fff;
    float: left;
}

/*scan_pay end*/
/*nav*/
.navChange{
    clear: left;
    margin-top: 3%;
    width: 100%;
    height:19%;
    background: #fff;
    text-align: center;
    overflow: hidden;
}
.navChange button{
    width: 32.5%;
    height: 28%;
    color: #fff;
    background: #e1bb8e;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 8% auto 5.5%;
}
.navChange p{
    font-size: 14px;
    color: #898989;
}
/*nav end*/
/*tip*/
.tip{
    clear: left;
    width: 100%;
    /*height: 1.5em;*/
    padding: 4% 5.5% 5%;
}
.tip p{
    width:100% ;
    font-size: 12px;
    color: #1E1E1E;
    /*margin-top: 0.1em;*/
}
.tip p label{
    color: #fff;
    background: #b0b0b0;
    width: 13px;
    height: 13px;
    display: inline-block;
    text-align: center;
    line-height: 14px;
    border-radius:100%;
    font-size: 12px;
    float: left;
    margin-top: 1px;
    margin-right: 7px ;
}
.tip p span{
    color: #898989;
    line-height: 22px;
}
.tip p span b{
    font-size: 0.18em;
}
.tip p:first-child{
    margin-top: 3%;
}
.tip p:first-child span{
    display: block;
    padding-left: 20px;
    margin-bottom: 6px;

}

.add_dian span{
    padding-left: .18em;
    display: inline-block;
    width: 100%;
    height:100%;
    /*background: url(./images/dian_03.png) no-repeat  0.05em 0.07em;*/
    background-size: 0.04em 0.04em;
}
.second span{
    padding-left: .18em;
}
/*tip end*/
.parkTicketBox{
    width: 100%;
    padding: 0 5%;
    background: #fff;
    font-size: 16px;
    color: #000000;
}
.parkTicketBox p{
    height: 66px;
    line-height: 66px;
    width: 100%;
    border-top: 1px solid #cccccc;
}
.ticketBtn{
    float: right;
}
/*鍋滆溅鍔� end*/

.firstSpan{
    margin-top: 10px;
}
